<div class="alert alert-denger col-10" *ngIf="nidExist">
  A user with this NID Exists
</div>

<div class="alert alert-success col-10" *ngIf="isNidCreated">
  Congratulations account is created
</div>

<div class="container">
  <form (ngSubmit)="processNidForm()">
    <div class="form group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="nid.firstName">
    </div>
    <div class="form group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="nid.lastName">
    </div>

    <div class="form group">
      <label for="nid">Nid</label>
      <input type="text" name="nid" id="nid" class="form-control" [(ngModel)]="nid.nid">
    </div>

    <div class="form group">
      <label for="ppid">Passport</label>
      <input type="text" name="ppid" id="ppid" class="form-control" [(ngModel)]="nid.ppid">
    </div>

    <div class="form group">
      <label for="birthdate">Birthdate</label>
      <input type="text" name="birthdate" id="birthdate" class="form-control" [(ngModel)]="nid.birthdate">
    </div>

    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>
