<div class="container">

  <form (ngSubmit)="processPassportForm()">
    <div class="form group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" [(ngModel)]="passport.firstName">
    </div>
    <div class="form group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="passport.lastName">
    </div>

    <div class="form group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" [(ngModel)]="passport.email">
    </div>

    <div class="form group">
      <label for="nid">Nid</label>
      <input type="text" name="nid" id="nid" class="form-control" [(ngModel)]="passport.nid">
    </div>

    <div class="form group">
      <label for="ppid">Passport</label>
      <input type="text" name="ppid" id="ppid" class="form-control" [(ngModel)]="passport.ppid" disabled>
    </div>

    <div class="form group">
      <label for="birthdate">Birthdate</label>
      <input type="text" name="birthdate" id="birthdate" class="form-control" [(ngModel)]="passport.birthdate">
    </div>

    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>
